
{# PrestaShop made some modifications to the way forms are displayed to work well with PrestaShop in order to benefit from those you need to use ui kit as theme#}
{% form_theme form '@PrestaShop/Admin/TwigTemplateForm/prestashop_ui_kit.html.twig' %}

{% block form_id %}
  {{ form_start(form, {attr : {class: 'form', id: form_id}, action: form_action }) }}
    <div class="card">
      {% include '@Modules/is_themecore/views/templates/back/components/atoms/card-header.html.twig'
        with {
          'header': card_header,
          'icon': icon_header|default('settings')
        }
      %}
      <div class="card-block">
        <div class="card-text">
          {{ form_widget(form) }}
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary float-right" id="save-button">
            {{ 'Save'|trans({}, 'Admin.Actions') }}
          </button>
        </div>
      </div>
    </div>
  {{ form_end(form) }}
{% endblock %}
